* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background-color: #e4faf4;
}

.container .cont2 {
  margin: 0 auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 17.76px;
  color: #222222;
}

.container .cont2 .pad {
  padding: 0.5% 0.5%;
  border-right: 1px solid #222222;
  opacity: 0.5;
}

.cont3 {
  margin: 0 auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5%;
}

.cont3 .cont-i .pad {
  padding-right: 10px;
}

.cont3 .cont-ii {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.cont3 .cont-ii .pad {
  padding-right: 10px;
}

.cont4 {
  margin: 0 auto;
  width: 80vw;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont4 .cont-iii .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 40px;
  line-height: 47.95px;
  text-align: left;
  width: 416px;
}

.cont4 .cont-iii .fast {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  width: 455px;
  text-align: left;
}

.cont4 .cont-iii .btn {
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 209px;
  height: 52px;
  color: #ffffff;
  border: transparent;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
}

.container2 {
  background-color: #e4faf4;
}

.container2 .cont5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
  padding: 2% 0;
  background-color: #e4faf4;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
}

.container2 .cont5 .cont-iv .trust {
  color: #222222;
  font-family: Futura;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
}

.container2 .cont5 .cont-iv .reg {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  width: 504px;
  text-align: left;
}

.container2 .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.container2 .icons .img1 {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
}

.container2 .icons .img1 .img {
  width: 50px;
  height: 50px;
}

.container2 .icons .img1 .t1 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
}

.container2 .icons .img2 {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
}

.container2 .icons .img2 .img {
  width: 50px;
  height: 50px;
}

.container2 .icons .img2 .t2 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
}

.container2 .icons .img3 {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
}

.container2 .icons .img3 .img {
  width: 50px;
  height: 50px;
}

.container2 .icons .img3 .t3 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
}

.container3 {
  margin: 0 auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3%;
}

.container3 .img {
  width: 50%;
}

.container3 .mf {
  margin-left: 10%;
}

.container3 .mf .m1 {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container3 .mf .learn {
  color: #222222;
  font-family: Futura;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
}

.container3 .mf .i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container3 .mf .i .intro {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-left: 10px;
}

.container3 .mf .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container3 .mf .btn .button {
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 3px 20px;
}

.container3 .mf .wat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container3 .mf .wat .watch {
  color: #00d09c;
  font-family: Avenir;
  font-size: 19px;
  line-height: 28px;
  text-align: left;
  padding: 10px;
}

.container4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container4 .cont6 .ask {
  color: #222222;
  font-family: Futura;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
}

.container4 .cont6 .you {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container4 .cont7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container4 .cont7 .investing .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
}

.container4 .cont7 .investing .three {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container4 .cont7 .investing .btn {
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 5px 10px;
}

.container4 .cont7 .schedule .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
}

.container4 .cont7 .schedule .expert {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container4 .cont7 .schedule .btn {
  color: #ffffff;
  font-family: Avenir;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  padding: 5px 10px;
}
/*# sourceMappingURL=styles.css.map */