* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  //margin: 0 auto;
  background-color: #e4faf4;
  .cont2 {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    line-height: 17.76px;
    color: #222222;

    .pad {
      padding: 0.5% 0.5%;
      //  .border{
      border-right: 1px solid #222222;
      opacity: 0.5;
      // }
    } //pad end
  } //cont2 end
} //container end
.cont3 {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5%;
  .cont-i {
    .pad {
      padding-right: 10px;
    }
  }
  .cont-ii {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    .pad {
      padding-right: 10px;
    }
  } //cont-ii end
} //cont3 end
.cont4 {
  margin: 0 auto;
  width: 80vw;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // gap: 1%;

  .cont-iii {
    .invest {
      color: #222222;
      font-family: FuturaBT;
      font-size: 40px;
      line-height: 47.95px;
      text-align: left;
      width: 416px;
    } //invest end
    .fast {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      width: 455px;
      text-align: left;
    } //fast end
    .btn {
      background-color: #00d09c;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
      width: 209px;
      height: 52px;
      color: #ffffff;
      border: transparent;
      font-family: Avenir;
      font-size: 18px;
      line-height: 24.59px;
      text-align: center;
    } //btn end
  } //cont-iii end
} //cont4 end
.container2 {
  background-color: #e4faf4;

  .cont5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw;
    padding: 2% 0;
    background-color: #e4faf4;
    box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
    .cont-iv {
      .trust {
        color: #222222;
        font-family: Futura;
        font-size: 30px;
        line-height: 39px;
        text-align: left;
      } //trust end
      .reg {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;
        width: 504px;
        text-align: left;
      }
    } //cont-iv end
  } //cont5 end
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #222222;
    font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    opacity: 0.699999988079071;
    text-align: center;
    justify-content: space-between;
    gap: 40px;
    .img1 {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      //width: 110px;
      // height: 110px;
      .img {
        width: 50px;
        height: 50px;
      }
      .t1 {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
      } //t1 end
    } //img1 end
    .img2 {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      .img {
        width: 50px;
        height: 50px;
      }
      .t2 {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
      }
    }
    .img3 {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      .img {
        width: 50px;
        height: 50px;
      }
      .t3 {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
      }
    } //img3 end
  } //icons
} //container2 end
.container3 {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3%;

  .img {
    width: 50%;
  }
  .mf {
    margin-left: 10%;
    .m1 {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 28px;
      opacity: 0.699999988079071;
      text-align: left;
    } //m1 end
    .learn {
      color: #222222;
      font-family: Futura;
      font-size: 40px;
      line-height: 52px;
      text-align: left;
    } //learn end
    .i {
      display: flex;
      flex-direction: row;

      .intro {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 28px;
        opacity: 0.699999988079071;
        text-align: left;
        padding-left: 10px;
      }
    } //i end
    .btn {
      display: flex;
      flex-direction: row;
      align-items: center;
      .button {
        color: #ffffff;
        font-family: Avenir;
        font-size: 18px;
        line-height: 24.59px;
        text-align: center;
        background-color: #00d09c;
        border-radius: 4px;
        box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
        padding: 3px 20px;
        //width: 163px;
        //height: 52px;
      } //button end
    } //btn end
    .wat {
      display: flex;
      flex-direction: row;
      align-items: center;
      //justify-content: space-between;

      .watch {
        color: #00d09c;
        font-family: Avenir;
        font-size: 19px;
        line-height: 28px;
        text-align: left;
        padding: 10px;
      } //watch end
    } //wat end
  } //mf end
} //container3 end

.container4 {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
 display: flex;
 align-items: center;
 flex-direction: row;
 
  .cont6 {
    .ask {
      color: #222222;
      font-family: Futura;
      font-size: 40px;
      line-height: 52px;
      text-align: left;
    } //ask end
    .you {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      text-align: left;
    } //you end
  } //cont6 end
  .cont7{
    display: flex;
    flex-direction: row;
    align-items: center;

  
  .investing {
    .invest {
      color: #222222;
      font-family: FuturaBT;
      font-size: 24px;
      line-height: 28.77px;
      text-align: left;
    } //invest end
    .three {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;

      text-align: left;
    } //three end
    .btn {
      color: #ffffff;
      font-family: Avenir;
      font-size: 18px;
      line-height: 24.59px;
      text-align: center;
      background-color: #00d09c;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
      padding: 5px 10px;
    }
  } //investing end
  .schedule {
    .invest {
      color: #222222;
      font-family: FuturaBT;
      font-size: 24px;
      line-height: 28.77px;
      text-align: left;
    } //invest end
    .expert {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      //width: 252px;
      text-align: left;
    } //expert end
    .btn {
      color: #ffffff;
      font-family: Avenir;
      font-size: 18px;
      line-height: 24.59px;
      text-align: center;
      background-color: #00d09c;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
      padding: 5px 10px;
    } //btn end
  } //schedule end
}//cont7 end
} //container4 end
